* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: ; */
  background-color: grey;
  height: 50px;
  width: 50%;
  color: white;
  margin: auto;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.options {
  background-color: grey;
  min-height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  padding: 10px;
}

.x {
  cursor: pointer;
  border-top: 1px solid white;
  padding-top: 16px;
  color: yellow;
}

#Link {
  border: none;
}

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
